<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

 <p4><%=attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %></p4>
 <p4><%=@user.name %></p4>
 <p4><%=@user.introduction %></p4>

 <p4><%= link_to "編集", edit_user_path(@user) %></p4>